body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d1e7e4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    background-color: #b2c4c0;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.header-content {
    position: relative;
    width: 100%;
}

.header-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

nav ul li {
    flex: 1;
    text-align: center;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
}

main {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.life-of-starfish, .facts-about-starfish, .contact-form {
    background-color: #e3f1f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.life-of-starfish .content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.life-of-starfish .content-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form .radio-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.contact-form .radio-group div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #79a1a7;
    color: white;
    cursor: pointer;
    width: auto;
    align-self: flex-start;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #b2c4c0;
}
